<h1>Registration</h1>
<%- include('./partials/messages') -%>
<form action="/users/register" method="post">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Name" minlength="2" required />
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Email" required />
  </div>
  <div>
    <label for="gender">gender</label>
    <select name="gender" value="Male" required>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
  </div>
  <div>
    <label for="cnic">CNIC</label>
    <input type="text" name="cnic" minlength="13" placeholder="1234567890123" required />
  </div>
  <div>
    <label for="profileImage">Profile Image</label>
    <input type="file" name="profileImage" required />
  </div>
  <div>
    <label for="contact">Contact Number</label>
    <input type="text" name="contact" minlength="11" placeholder="03001234567" required />
  </div>
  <div>
    <label for="address">Address</label>
    <input type="text" name="address" placeholder="address">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" minlength="6" placeholder="password" required />
  </div>
  <div>
    <label for="confirmPassword">confirm Password</label>
    <input type="password" name="confirmPassword" minlength="6" placeholder="confirm Password" required />
  </div>
  <div>
    <button type="submit">Register</button>
  </div>
</form>
<a href="/">Back to Home</a> | <a href="/users/login">Login</a>